#Section A

1.Create a function that takes three integer arguments (a, b, c) and returns the amount of integers which are of equal value.

In [ ]:
def number(x,y,z,) :
  if x == y and x == z:
    return 3
  elif x==y or x==z:
    return 2
  else:
    return 0
print(number(2,3,0))

0

2.Write a function that converts a dictionary into a list of keys-values tuples.

In [ ]:
def converter():
  diction = {1: "2", 3: "4", 5: "6", 7: "8" }
  list1 = [(k, v) for k, v in diction.items()]
  return list1
converter()

[(1, '2'), (3, '4'), (5, '6'), (7, '8')]

3. Write a function that creates a dictionary with each (key, value) pair being the (lower case, upper case) versions of a letter, respectively.

In [1]:
list2 = ['j','a','y']
x = {}

for letters in list2:
  b = letters.upper()
  x.update({letters:b})
print(x)

{'j': 'J', 'a': 'A', 'y': 'Y'}

4. Write a function, that replaces all vowels in a string with a specified vowel.

In [ ]:
print("Enter a String: ")
string = input()

print("Enter a char: ")
charac = input()

newstring1 = ""
for i in range(len(string)):
    if string[i]=='a' or string[i]=='e' or string[i]=='i' or string[i]=='o' or string[i]=='u':
        newstring = newstr + charac
    else:
        newstring = newstr + str[i]

print("Original String:", string)
print("Newly modified String:", newstring)

Enter the String:
Prasad
Enter a character:
x

Original String: Prasad
New String: Prxsxd

5.Create a function that takes a string as input and capitalizes a letter if its ASCII code is even and returns its lower case version if its ASCII code is odd.

In [ ]:
def capitalize(st):
  result = []
  for index, c in enumerate(st):
    if index % 2 == 0:
      result.append(c.upper())
    else:
      result.append(c.lower())
  return '' .join(result)
print(capitalize("this is week two work."))

ThIs iS WeEk tWo wOrK.

#Section B

1. Write a Python Program to Find the Sum of Natural Numbers?

In [ ]:
def sumofnum(n):
   if n <= 1:
       return n
   else:
       return n + sumofnum(n-1)
x = int(input("Enter a number: "))
result = sumofnum(x)
print(result)

Enter a number: 10
55

2.Write a Python Program to Find the Factorial of a Number?

In [ ]:
def factorial(a):
  if a==1:
    return 1
  else:
    return a*factorial(a-1)

x = int(input())
result = factorial(x)
print(result)

3.Write a Python Program to Print all Prime Numbers in an Interval of 1-10000?

In [ ]:
def prime():
  lower_limit = 1
  upper_limit = 10000

  for num in range(lower_limit, upper_limit+ 1):
    if num > 1:
        for i in range(2, num):
            if (num % i) == 0:
                break
        else:
          print(num)
prime()

4.Write a Python Program to Display the multiplication Table?

In [ ]:
def table():
  number = int(input())
  for i in range(1,11):
    print(number," x ",i," = ",number*i)
table()

12
12  x  1  =  12
12  x  2  =  24
12  x  3  =  36
12  x  4  =  48
12  x  5  =  60
12  x  6  =  72
12  x  7  =  84
12  x  8  =  96
12  x  9  =  108
12  x  10  =  120

5.Write a Python Program to find largest element in an array?

In [ ]:
def abc():
  arr = [12, 3, 4, 15, 25, 923]
  largest = 0
  for i in range(len(arr)):
    if arr[i] > largest:
      largest = arr[i]
  print(largest)
abc()

923